<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${clasificacionUnidad.id} != null ? 'Editar Clasificación de Unidad' : 'Agregar Nueva Clasificación de Unidad'"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 th:text="${clasificacionUnidad.id} != null ? 'Editar Clasificación de Unidad' : 'Agregar Nueva Clasificación de Unidad'"></h2>

    <form th:action="${clasificacionUnidad.id} == null ? @{/clasificaciones-unidad/save} : @{/clasificaciones-unidad/edit/{id}(id=${clasificacionUnidad.id})}" th:object="${clasificacionUnidad}" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/clasificaciones-unidad/list}" class="btn btn-secondary">Volver</a>
    </form>
</div>
</body>
</html>